@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins-Medium';
    src: url(/fonts/Poppins/Poppins-Medium.ttf) format('woff2');
  }
  @font-face {
    font-family: 'Poppins-Regular';
    src: url(/fonts/Poppins/Poppins-Regular.ttf) format('woff2');
  }
  @font-face {
    font-family: 'Poppins-Bold';
    src: url(/fonts/Poppins/Poppins-Bold.ttf) format('woff2');
  }
  @font-face {
    font-family: 'Poppins-Light';
    src: url(/fonts/Poppins/Poppins-Light.ttf) format('woff2');
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(231 229 228 / var(--tw-bg-opacity));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  /* border-radius: 3px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swiper-wrapper {
  padding-bottom: 50px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet {
  background-color: #a587ff;
  width: 10px;
  height: 10px;
}

.swiper-wrapper {
  padding-bottom: 0px !important;
  align-items: center;
}
